<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : UserMapper.xml
    Created on : 2012年2月24日, 下午3:51
    Author     : shenzhe
    Description:
        Purpose of the document follows.
-->

<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.shenzhe.blog.dao.IBlogDao">
    <select id="selectOne" parameterType="int" resultType="BlogEntity">
        select * from blog where id=#{id}
    </select>
    
    <select id="selectList" parameterType="map" resultType="BlogEntity">
        select * from blog 
        <where>
            <if test="categoryid != 0">
                categoryid = #{categoryid}
            </if>
        </where>
        order by id desc limit #{start}, #{pagerows}
    </select>
    <select id="selectCount" parameterType="map" resultType="int">
        select count(*) from blog
        <where>
            <if test="categoryid != 0">
                categoryid = #{categoryid}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="BlogEntity">
        insert into blog (categoryid, title, content, datetime, hits) 
        values 
        (#{categoryid},#{title},#{content},#{datetime},#{hits})
    </insert>
    <update id="update" parameterType="BlogEntity">
        update blog set categoryid=#{categoryid}, title=#{title}, content=#{content} where id=#{id}
    </update>
    <delete id="delete" parameterType="map">
        delete from blog where 
        <if test="id != 0">
            id = #{id}
        </if>
        <if test="categoryid != 0">
            categoryid = #{categoryid}
        </if>
    </delete>
</mapper>
