<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.shenzhe.blog.common.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
            
        </init-param>
        <init-param>
            <param-name>filterStr</param-name>
            <param-value>'|and|exec|insert|select|delete|update|count|*|%|chr|mid|master|truncate|char|declare|; |or|-|+|,</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.shenzhe.blog.common.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveCommentServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.SaveCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategoryServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBlogServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.AddBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBlogServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.UpdteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlogServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCommentServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLinkServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.AddLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLinkServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.UpdateLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delLinkServlet</servlet-name>
        <servlet-class>com.shenzhe.blog.servlet.admin.DelLinkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveCommentServlet</servlet-name>
        <url-pattern>/saveCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryServlet</servlet-name>
        <url-pattern>/admin/addCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryServlet</servlet-name>
        <url-pattern>/admin/updateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategoryServlet</servlet-name>
        <url-pattern>/admin/deleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBlogServlet</servlet-name>
        <url-pattern>/admin/addBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBlogServlet</servlet-name>
        <url-pattern>/admin/updateBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlogServlet</servlet-name>
        <url-pattern>/admin/deleteBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCommentServlet</servlet-name>
        <url-pattern>/admin/deleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLinkServlet</servlet-name>
        <url-pattern>/admin/addLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLinkServlet</servlet-name>
        <url-pattern>/admin/updateLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delLinkServlet</servlet-name>
        <url-pattern>/admin/delLinkServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
